.award-section {
  background: #fff;
  border-radius: 2px;
  width: 990px;
  padding: 24px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.award-section-header {
  margin-bottom: 12px;
}
.award-title {
  font-weight: 700;
  font-size: 16px;
  font-family: 'Pretendard Variable', sans-serif;
  color: #000;
}
.award-desc {
  font-size: 16px;
  font-family: 'Pretendard Variable', sans-serif;
  color: #000;
  margin-left: 19px;
}

.award-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.award-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: #E9E9E9;
  border-radius: 2px;
  padding: 12px 24px;
  min-height: 41px;
  gap: 14px;
}

.award-card-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 22px;
}

.award-prize,
.award-name {
  font-family: 'Pretendard Variable';
  font-size: 14px;
  font-weight: 700;
  color: #000;
}

.award-year {
  font-family: 'Pretendard Variable';
  font-size: 14px;
  font-weight: 600;
  color: #585858;
}

.award-card-actions {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.award-delete-btn {
  width: 24px;
  height: 24px;
  background: #DDDDDD;
  border-radius: 23px;
  border: none;
  cursor: pointer;
  font-size: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.award-input-form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  background: none;
}

.award-form-row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
  width: 100%;
  margin-bottom: 12px;
}

.award-label {
  min-width: 60px;
  font-family: 'Pretendard Variable';
  font-size: 12px;
  font-weight: 600;
  color: #37352F;
  margin-top: 7px;
}

.award-input {
  flex-grow: 1;
  padding: 8px 14px;
  border: none;
  border-bottom: 1px solid #A7A7A7;
  font-size: 14px;
  background: #fff;
  font-family: 'Pretendard Variable';
  color: #222;
}

.award-radio-options {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.award-radio-btn {
  background: #FFF;
  border: 1px solid #959595;
  border-radius: 2px;
  padding: 8px 14px;
  font-size: 14px;
  font-family: 'Pretendard Variable';
  color: #1E1E1E;
  display: flex;
  align-items: center;
  gap: 8px;
}
.award-select {
  background: #fff;
  border: 1px solid #959595;
  border-radius: 2px;
  padding: 8px 14px;
  font-size: 14px;
  font-family: 'Pretendard Variable';
  margin-right: 8px;
}

.award-help-text {
  font-size: 13px;
  color: #888;
  margin-top: 7px;
  margin-bottom: 4px;
}

.award-add-btn {
  align-self: flex-end;
  background: #1E1E1E;
  color: #fff;
  border-radius: 2px;
  border: none;
  padding: 8px 12px;
  font-size: 14px;
  font-weight: 700;
  min-width: 85px;
  cursor: pointer;
  margin-top: 10px;
}
@media (max-width:1100px) {
  .award-section { width: 98vw; min-width: 320px; }
  .award-input-form, .award-card { flex-direction: column; gap: 12px; }
}
