
.search-bar-wrapper {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  
  background-color: var(--color-gray-100);
  border: 1px solid var(--color-gray-200);
  padding: var(--space-3) var(--space-5);
}


.search-bar-input {
  display:flex;
  width: 100%;
  
  font-size: var(--font-size-base);
  color: var(--color-black);
  background-color: transparent;
  border: none;
  
  outline: none;
  
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.search-bar-input:focus,
.search-bar-input:focus-visible {
  outline: none;
  box-shadow: none; 
}

.search-bar-input::placeholder {
  color: var(--color-gray-500);
}

.search-bar-button {
  margin-left: var(--space-4);
  flex-shrink: 0;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: none;
}

.search-bar-button:focus,
.search-bar-button:focus-visible {
  outline: none;
}

.search-bar-button img {
  width: 24px;
  height: 24px;
  color: var(--color-gray-600);
}

.search-bar-button:hover img {
  color: var(--color-black);
}