.input-wrapper { 
    display:flex;
    flex-direction: column;
    gap:var(--space-2-5);
    flex:1;
    height: fit-content;
}

.input {
    display: block;
    width: 100%;
    padding: 0 var(--space-3-5);
    font-family: inherit;
    font-size: var(--font-size-sm);
    line-height: var( --line-height-loose);
    color: var(--color-gray-400);
    border-bottom: 1px solid var(--color-gray-400);
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.input:active{
    color:var(--color-black);
    font-weight: var(--font-weight-medium);
    border-bottom: 1.2px solid var(--color-black);
}

.input:focus:active{
    font-weight: var(--font-weight-medium);
    color:var(--color-black);
    border-bottom: 1.2px solid var(--color-black);
}

.input:focus{
    color:var(--color-gray-800);
    border-bottom: 1px solid var(--color-gray-800);
}

.input:not(:placeholder-shown) {
    font-weight: var(--font-weight-medium);
    color: var(--color-black);
    border-bottom: 1.2px solid var(--color-black);
}

.input-label { 
    display:flex;
    gap: var(--space-1);
    font-family: inherit;
    font-size: var(--font-size-xs);
    font-weight: var(--font-weight-semibold);
    line-height: var(--line-height-cjk);
}
.input-required { 
    color: var(--color-error);
}
.input-container { 
    display:flex;
    gap:var(--space-2-5);
}
.input-error, .input-label-error, .input-error::placeholder{ 
    color:var(--color-error);
    border-color: var(--color-error);
}

.input-error:active{
    color:var(--color-error);
    font-weight: var(--font-weight-medium);
    border-bottom: 1.2px solid var(--color-error);
}

.input-error:focus:active{
    font-weight: var(--font-weight-medium);
    color:var(--color-error);
    border-bottom: 1.2px solid var(--color-error);
}

.input-error:focus{
    color:var(--color-error);
    border-bottom: 1px solid var(--color-error);
}

.input-error:not(:placeholder-shown) {
    font-weight: var(--font-weight-medium);
    color: var(--color-error);
    border-bottom: 1.2px solid var(--color-error);
}

.input-disabled { }
.input-error-message { 
    color:var(--color-error);
    font-size: var(--font-size-xs);
    font-weight: var(--font-weight-semibold);
    line-height: var(--line-height-cjk);
}

input[type="number"] {
    -moz-appearance: textfield;
}

.input-label-wrapper{
    display: flex;
    gap: var(--space-1);
}

.password-toggle {
 }
.password-strength { }
.password-strength-bar { }
.password-strength-fill { }
.strength-1 { /* 약함 - 빨강 */ }
.strength-2 { /* 보통 - 주황 */ }
.strength-3 { /* 강함 - 초록 */ }
.strength-4 { /* 매우 강함 - 진한 초록 */ }
.password-strength-text { }
