
.portfolio-edit-page {
  display:flex;
  height:fit-content;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  margin-bottom: 120px;
}

.portfolio-main-editor {
  width: 100%;
}

.portfolio-main-editor header {
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  .portfolio-edit-page {
    max-width: 100%;
    padding: 0 10px;
    margin-bottom: 80px;
  }
}