.profile-edit-page {
    display:flex;
    flex-direction: column;
    height:fit-content;
    width: 100%;
    max-width: 900px;
    margin:0 auto;
    margin-bottom: 120px;
}

.save-button-div{
    display:flex;
    width:100%;
}
