

.search-results-page {
  display:flex;
  flex-direction: column;
  height:fit-content;
  width:900px;
  padding: var(--space-6);
  margin-bottom: 120px;
}

.search-results-page h1 {
  margin-bottom: var(--space-3);
}

.search-results-page .search-summary {
  font-size: var(--font-size-base);
  color: var(--color-gray-700);
  margin-bottom: var(--space-6);
}

.search-results-page .query-highlight {
  font-weight: var(--font-weight-bold);
  color: var(--color-black);
}

.search-results-list {
  display: flex;
  flex-direction: column;
}