.public-layout,
.authenticated-layout {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.public-main {
  flex-grow: 1;
}

.layout-body {
  display: flex;
  flex-grow: 1; 
  overflow: hidden; 
}

.sidebar {
  width: 340px;
  flex-shrink: 0;
  background: var(--color-gray-50);
  border-right: 1px solid var(--color-gray-200);
  padding: var(--space-6);
}

.sidebar-nav {
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
}

.sidebar-item {
  display: block;
  padding: var(--space-3) var(--space-4);
  border-radius: var(--radius-md);
  text-decoration: none;
  font-weight: var(--font-weight-medium);
  color: var(--color-gray-700);
}

.sidebar-item:hover,
.sidebar-item.active {
  background-color: var(--color-gray-200);
  color: var(--color-black);
}

.main-content {
  display: flex;
  width:100%;
  justify-content: center;
  overflow-y: auto; 
  padding: var(--space-6);
  background-color: #EEEEEE;
}

.layout-header {
  display: flex;
  width: 100%;
  height: 5rem;
  padding: 0.25rem 2.25rem;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  border-bottom: 1px solid var(--color-gray-200);
}

.public-header {
  background-color: var(--color-white);
}

.auth-header {
  background-color: var(--color-white);
  position: sticky; 
  top: 0;
  z-index: var(--z-index-sticky);
}

.header-logo {
  font-size: var(--font-size-2sxl);
  font-weight: var(--font-weight-bold);
  color: var(--color-black);
  text-decoration: none;
}

.header-nav {
  display: flex;
  align-items: center;
  gap: var(--space-6);
}

.layout-footer {
  display: flex;
  width: 100%;
  padding: 5.0625rem 0;
  justify-content: center;
  align-items: flex-start;
  gap: 4.6875rem;
  
  background-color: var(--color-gray-990);
}

.footer-logo {
  font-size: var(--font-size-2sxl);
  font-weight: var(--font-weight-bold);
  color: var(--color-white);
  text-decoration: none;
}

.footer-logo {
  font-size: var(--font-size-2sxl);
  font-weight: var(--font-weight-bold);
  color: var(--color-white);
  text-decoration: none;
}